<p-table
  [value]="content"
  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[10, 20, 50]"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} posts"
  [columns]="cols"
  sortOrder="1"
  sortField="id"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th
        *ngFor="let col of columns"
        [pSortableColumn]="col.field"
        [pSortableColumnDisabled]="col.field !== 'id'"
      >
        {{ col.header }}
        <p-sortIcon
          *ngIf="col.field === 'id'"
          [field]="col.field"
          ariaLabel="Activate to sort"
          ariaLabelDesc="Activate to sort in descending order"
          ariaLabelAsc="Activate to sort in ascending order"
        ></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-comment let-columns="columns">
    <tr [pContextMenuRow]="comment">
      <td *ngFor="let col of columns">{{ comment[col.field] }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length">
        No comments found
      </td>
    </tr>
  </ng-template>
</p-table>
