<p-card>
  <app-search
    [users]="users"
    (fetchedPosts)="postsFetched($event)"
    [queryUser]="userQuery"
  ></app-search>
</p-card>

<app-posts-table
  [content]="posts"
  [cols]="postsCols"
  *ngIf="posts !== null"
  (selectedContentId)="toggleDialog($event)"
></app-posts-table>

<app-dialog
  [(display)]="displayDialog"
  [comments]="postComments"
  [users]="users"
></app-dialog>
