<span>ID</span><br />
<input
  type="text"
  pInputText
  [(ngModel)]="userInfo.id"
  disabled="true"
  size="60"
/><br /><br />

<span>Name</span><br />
<input
  type="text"
  pInputText
  [(ngModel)]="userInfo.name"
  disabled="true"
  size="60"
/><br /><br />

<span>Username</span><br />
<input
  type="text"
  pInputText
  [(ngModel)]="userInfo.username"
  disabled="true"
  size="60"
/><br /><br />

<span>Email</span><br />
<input
  type="text"
  pInputText
  [(ngModel)]="userInfo.email"
  disabled="true"
  size="60"
/><br /><br />

<span>Address</span><br />
<input
  type="text"
  pInputText
  [(ngModel)]="userInfo.address.street + ', ' + userInfo.address.city"
  disabled="true"
  size="60"
/><br /><br />

<a
  [routerLink]="['/posts']"
  [queryParams]="{ uid: userId }"
  routerLinkActive="active"
  ><h4>View user posts</h4></a
>
